@model IEnumerable<InternetShop.Models.Employee>
@{
    ViewData["Title"] = "Сотрудники";
}

<h1>Сотрудники</h1>

<table class="container">
    <thead>
        <tr>
            <th>#</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Paronymic</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>

</table>

